extends ../layout

block content
    a.btn.btn-danger(href='/bicicletas' role='button') Volver

    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action='/bicicletas/create' method='post')
        .form-group
            label(for='id') ID:
            input#id.form-control(type='text' name='id')
        .form-group
            label(for='color') Color:
            input#color.form-control(type='text' name='color')
        .form-group
            label(for='modelo') Modelo:
            input#model.form-control(type='text' name='model')
        .form-group
            label(for='lat') Latitud:
            input#lat.form-control(type='text'  name='lat')
        .form-group
            label(for='long') Longitud:
            input#long.form-control(type='text' name='long')
        br
        br
        input.btn.btn-success(type='submit' value='OK')
