extends ../layout

block content

  a.btn.btn-primary(href='/' role='button') inicio
  a.btn.btn-danger(href='/bicicletas/create' role='button') Nueva Bicicleta
  table.table.table-hover.table-dark
    thead
      tr
        th(scope='col') #
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col') 
    tbody
      each bicicleta in bicicletas
        tr
          th(scope='row')= bicicleta.id
          td= bicicleta.color
          td= bicicleta.model
          td= bicicleta.location
          td
            .btn-group(role='group' aria-label='Basic example')
              form.inline(method='GET' action='bicicletas/' + bicicleta.id + '/update')
                input(type='hidden' name='id' value=bicicleta.id)
                button.btn.btn-info.btn-sm(type='submit' name='submit_param' value='submit_value') Editar
              form.inline(method='POST' action='bicicletas/' + bicicleta.id + '/delete')
                input(type='hidden' name='id' value=bicicleta.id)
                button.btn.btn-danger.btn-sm(type='submit' name='submit_param' value='submit_value') Eliminar