extends ../layout

block content
    a.btn.btn-primary(href='/bicicletas' role='button') volver

    br
    br
    br

    h1 Editar Bicicleta

    br
    br

    form(action=`/bicicletas/${bicicleta.id}/update` method='post')
        .form-group
            label(for='id') ID:
            input#id.form-control(type='text' name='newid' value=bicicleta.id)
            input#custId(type='hidden' name='id' value=bicicleta.id)
        .form-group
            label(for='color') Color:
            input#color.form-control(type='text' name='color' value=bicicleta.color)
        .form-group
            label(for='model') Modelo:
            input#model.form-control(type='text' name='model' value=bicicleta.model)
        .form-group
            label(for='lat') Latitud:
            input#lat.form-control(type='text' name='lat' value=bicicleta.location[0])
        .form-group
            label(for='long') Longitud:
            input#long.form-control(type='text' name='long' value=bicicleta.location[1])
        br
        br
        input.btn.btn-success(type='submit' value='OK')
